<% if @name == 'vanslam' %>
	<%=  image_tag image_path "shield.png" %>
<% end %>

<% if @name == 'verses' %>
	<%= image_tag image_path "verses.jpg" %>
<% end %>

<h1> <%= @title %>  </h1>

<div class="page_change" data-run="index" hidden></div>

<div id="create_new_slam" class="vwli" hidden>
  <div id="template_slams">
    <select>
      <% @templates.each do |template| %>
	<option> <%= template.title %> </option>
      <% end %>
    </select>
  </div>
</div>

<% if @is_using_seasons %>
	<% @seasons.order('id desc').each do |season| %>
		<h3 style='color:#F2ECD2'> <%= season.title %> <h3>

		<% season.competitions.reverse_each do | slam | %>
			<h3> <%= link_to slam.title, "/competition/show?id=" + slam.id.to_s %> </h3>
		<% end %>
	<% end %>
<% else %>
	<% @slams.each do |slam| %>
		<h3> <%= link_to slam.title, "/competition/show?id=" + slam.id.to_s %> </h3>
	<% end %>
<% end %>
