
<h2>
<%= flash['message'] %>
</h2>

<% if @is_logged_in == false %>
  <h1> Login </h1>

  <table>
    <tr>
      <%= form_tag("/welcome/do_log_in/") do |f| %>

	<td>
	  <%= label_tag "User Name:" %>
	</td>

	<td>
	  <%= text_field_tag(:user_name) %> </br>
	</td>

      </tr>
      <tr>
	<td>
	  <%= label_tag "Password:" %>
	</td>
	<td>
	  <%= password_field_tag "passwd" %> </br>
	</td>
      </tr>
    </table>

    <%= submit_tag "Login" %>

  <% end %>

<% else %>
  <p> You are logged in as 
  <%= @user_name %>
  </p>


  <%= link_to "Logout", "/welcome/do_log_out/" %>

<% end %>
