
<h1> Login </h1>

<%= form_tag("/welcome/do_log_in/") do |f| %>

  <%= label_tag "User Name:" %>
  <%= text_field_tag(:user_name) %> </br>

  <%= label_tag "Password:" %>
  <%= password_field_tag "passwd" %> </br>

  <%= submit_tag "Login" %>

<% end %>
