
<h2>
<%= flash['message'] %>
</h2>

<% if @is_logged_in == false %>
  <h1> Login </h1>

  <%= form_tag("/welcome/do_log_in/") do |f| %>

    <%= label_tag "User Name:" %>
    <%= text_field_tag(:user_name) %> </br>

    <%= label_tag "Password:" %>
    <%= password_field_tag "passwd" %> </br>

    <%= submit_tag "Login" %>

  <% end %>

<% else %>
  <p> You are logged in as 
  <%= @user_name %>
  </p>


  <%= link_to "Logout", "/welcome/do_log_out/" %>

<% end %>
