<div class="page_change" data-run="competition" hidden></div>

<script>
  var slam = JSON.parse('<%= @slam.to_json.html_safe%>');
  var rounds = JSON.parse('<%= @slam.rounds.order(:round_number).to_json.html_safe %>');  
</script>

<div id="poets_competing" hidden>
  <div id="list_poets"><span style='font-weight:bold'> Poets: </span></div>

  <button id="add_poet" onclick="click_add_poet(this)"> Add Poet </button>
</div>

<%= render :partial => 'poet/lookup' %>

<h1> <%= @slam.title %> </h1>

<% @slam.rounds.order(:round_number).each do |round| %>
  <div id="round_<%=round.round_number%>">
    <%= round.title %> </br>
  </div>
<% end %>
