<div class="page_change" data-run="competition" hidden></div>

<div class="fixed">
    <nav class="top-bar" data-topbar role="navigation">
   <!-- 
        <ul class="title-area">
            <li class="name">
                <h1><a href="/">Live Poetry Slam</a></h1>
            </li>
        </ul> 
    -->
        <ul class="left">
            <li class="name">
                <p> Auto Scroll </p>
            </li>
        </ul>
        <ul class="left">
            <li>
              <div class="switch round">
                 <input class="switch-input" id="autoScrollSwitch" type="checkbox" name="exampleSwitch">
                 <label class="switch-paddle" for="autoScrollSwitch" onclick="onclick_auto_scroll_switch()"> </label>
              </div>
            </li>
        </ul>
        <ul class="left">
            <li class="name">
                <p id="number_of_subscribers"></p>
            <li>
        </ul>
    </nav>
</div>

<script>
  var settings = JSON.parse('<%= @settings.to_json.html_safe%>');
  var slam = JSON.parse('<%= @slam.to_json.gsub("'", "&#39;").html_safe%>');
  var rounds = JSON.parse('<%= @slam.rounds.order(:round_number).to_json.gsub("'", "&#39;").html_safe %>');  
  var events = JSON.parse('<%= @events.to_json.gsub("'", "&#39;").html_safe %>');
</script>


<div id="poets_competing" hidden>
  <div id="list_poets"><span style='font-weight:bold'> Poets: </span></div>

  <button id="add_poet" onclick="click_add_poet(this)"> 
    <span style='text-decoration:underline;'>A</span>dd Poet </button>
</div>

<%= render :partial => 'poet/lookup' %>

<div id="last_updated"></div>
<h1> <%= @slam.title %> </h1>

<div class="announcement" data-index="0"> </div>

<div id="rounds" style="zindex:1">
  <% @slam.rounds.order(:round_number).each do |round| %>
    <div id="round_<%=round.round_number%>">
      <h2 id="round_title_<%=round.round_number%>"> <%= round.title %> </h2>
      <div id="edit_round_div_<%= round.round_number %>" class="vwli">
	<a class="edit_round_a vwli" data-round_number="<%= round.round_number %>" hidden> Edit Round <%= round.round_number %> </a>
      </div>
      <p id="round_info_<%=round.round_number%>">
      Time limit: <%= (round.time_limit / 60).floor %>:<%= sprintf("%02d", round.time_limit % 60) %>,
      Grace period: <%= round.grace_period %>  seconds
      </p>
      <div id="performances_<%= round.round_number %>"></div>

      <div id="poets_<%= round.round_number %>" class="poets_for_round, vwli"></div>
      <div class="announcement" data-index="<%= round.round_number%>"> </div>
    </div>
  <% end %>
</div>

<div id="add_extra_round" class='vwli'>
  <button id="add_round_button" class='vwli' hidden onclick='onclick_add_round()'> Add Round </button>
</div>

<p id="ajax_queue" class="vwli" hidden></p>

<button id="refresh_button" class="vwli" href="#" hidden></button>
