<div class="page_change" data-run="competition" hidden></div>

<script>
  var settings = JSON.parse('<%= @settings.to_json.html_safe%>');
  var slam = JSON.parse('<%= @slam.to_json.gsub("'", "&#39;").html_safe%>');
  var rounds = JSON.parse('<%= @slam.rounds.order(:round_number).to_json.html_safe %>');  
  var events = JSON.parse('<%= @events.to_json.gsub("'", "&#39;").html_safe %>');
</script>


<div id="poets_competing" hidden>
  <div id="list_poets"><span style='font-weight:bold'> Poets: </span></div>

  <button id="add_poet" onclick="click_add_poet(this)"> 
    <span style='text-decoration:underline;'>A</span>dd Poet </button>
</div>

<%= render :partial => 'poet/lookup' %>

<div id="last_updated"></div>
<h1> <%= @slam.title %> </h1>

<div id="rounds" style="zindex:1">
<% @slam.rounds.order(:round_number).where(is_extra: nil).each do |round| %>
  <div id="round_<%=round.round_number%>">
    <h2> <%= round.title %> </h2>
    <div id="annoucement_<%= round.round_number %>" class="vwli" data-round="<%= round.round_number %>"  hidden>
      <button data-round="<%= round.round_number %>" onclick="annoucement_button_pressed(this)">Annoucement</button>
    </div>
    <p>
    Time limit: <%= (round.time_limit / 60).floor %>:<%= sprintf("%02d", round.time_limit % 60) %>,
    Grace period: <%= round.grace_period %>  seconds
    </p>
    <div id="performances_<%= round.round_number %>"></div>
    <div id="annoucement_recv_<%= round.round_number %>" data-round="<%= round.round_number %>"></div>
    <div id="poets_<%= round.round_number %>" class="poets_for_round, vwli"></div>
  </div>
<% end %>
</div>

<!-- extra_round_div is obsolete -->
<div id="extra_round_div" hidden>
  <button id="button_extra_round" onclick='add_extra_round()'> Extra Round </button>
</div>


<div id="add_extra_round" class='vwli'>
  <button id="add_round_button" class='vwli' hidden onclick='onclick_add_round()'> Add Round </button>
</div>

<p id="ajax_queue" class="vwli" hidden></p>

<div id="metrics" class="vwli" style="position:fixed; top: 20px; background: white" hidden>

  <div class="row">
    <div class="small-12 columns" id="number_of_connections" style="float:right; color:gray"> </div>
  </div>
  <div id="messages" style="float:right; color:gray"></div>

</div>


