<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, user-scalable=no">

    <title><%= content_for?(:title) ? yield(:title) : "Live Poetry Slam" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>


    <%= favicon_link_tag 'favicon.ico' %>

  </head>

  <body>
    <noscript> You need to have JavaScript for this site to function. </noscript>

    <%= render :partial => 'welcome/log_in_or_out' %>
    <%= yield %>

   </body>
</html>
